<h3>Merchants Bulk Discount Show Page</h3>
<hr>
<h2>Bulk Discount #<%= @bulk_discount.id %></h2>
<p>Percentage Discount: <%= @bulk_discount.percentage_discount %></p>
<p>Quantity Threshold: <%= @bulk_discount.quantity_threshold %></p>
